@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: relative;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

}

.container {
    
    position: relative;
    max-width: 700px;
    width: 100%;
    padding: 22px;
    background: #fff;

    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    
}

.container .form {
    margin-top: 15px;
}

.form .input-box {
    width: 100%;
    margin-top: 12px;
    display: block;
}

.input-box label {
    color: #333;
    display: block;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 38px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}


.btn-submit {
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
}

.form button:hover {
    background: rgb(88, 56, 250);
}

/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}


/* Table CSS  */

.title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

.product-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-table th,
.product-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.product-table tr:hover {
    background-color: #f1f5ff;
}

.product-table td {
    color: #444;
    font-size: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .product-table {
        width: 100%;
        font-size: 14px;
    }
}